
    <p>
      Hello
    </p>
    <p>
      <%= 3 + 1%>
    </p>
<!-- <% this = "that"%> i.e. to set variables or run something in the background-->
<!-- <%= this %> i.e. to actually show a result-->
<!-- <%# a ruby comment%>  -->
