<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/string">time</a>
      <a href="/turtle/0">turtle 1</a>
      <a href="/turtle/1">turtle 2</a>
      <a href="/turtle/2">turtle 3</a>
    </nav>
    <p>
      <%= yield %>
    </p>
  </body>
</html>
